//Fonts
$proxima-nova-rg: 'Proxima Nova Rg', Roboto, Arial, sans-serif;
$proxima-nova-bl: 'Proxima Nova Bl', Roboto, Arial, sans-serif;

$proxima-nova-bd: 'Proxima Nova Bd', Roboto, Arial, sans-serif;


//Colors

$dragonx-blue: #1B325D;
